@font-face {
  font-family: 'iconfont';  /* project id 534544 */
  src: url('//at.alicdn.com/t/font_534544_i1hjvobo8solayvi.eot');
  src: url('//at.alicdn.com/t/font_534544_i1hjvobo8solayvi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_534544_i1hjvobo8solayvi.woff') format('woff'),
    url('//at.alicdn.com/t/font_534544_i1hjvobo8solayvi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_534544_i1hjvobo8solayvi.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daifukuan:before{content:"\e61b"}
.icon-daipindan:before{content:"\e6e9"}
.icon-daifahuo:before{content:"\e661"}
.icon-daishouhuo:before{content:"\e603"}
.icon-daipinjia:before{content:"\e638"}
.icon-manage-fill:before{content:"\e70b"}
.icon-right-arrow:before{content:"\e60f"}
.icon-right:before{content:"\e600"}
